.App {
    background-color: rgb(22, 22, 80);
    min-height: 100vh;
}

.main{
    min-height: 80vh;
}

.text-content{
    position: relative;
    top: 150px;
}

.main-content h1{
    font-size: 3rem;
}

.content{
    min-height: 100vh;
    background-color: rgb(156, 156, 156);
}

.content-nav{
    background-color: rgb(45, 45, 150);
    min-height: 10vh;
}

.content-banner{
    background-color: rgb(22, 22, 80);
    min-height: 60vh;
    margin: 10% 0;
    box-shadow: black 0 0 10px;
}

.banner-img{
    position: absolute;
    top: 30%;
    left: 50%;
}

.contact{
    background-color: rgb(22, 22, 80);
    margin: 10% 0;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px;
}

.contact-form{
    min-height: 80%;
    position: relative;
    top: 10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer{
    min-height: 40vh;
}

.code-imgs{
    height: 300px;
    width: 50%;
}

.pageHeight{
    min-height: 100vh;
}

.circle-img{
    border-radius: 100%;
}

.sidebar{
    background-color: rgb(22, 22, 80);
    min-height: 100vh;
    min-width: 25%;
    color: white;
    padding-top: 1%;    
}

.sideNav{
    position: sticky;
    background-color: white;
    height: 600px;
    color: black;
    text-align: left;
    border-radius: 20px;
    margin: 10%;
}

.sideNav-btn{
    background-color: rgb(241, 240, 240);
    padding: 4%;
    border-radius:10px ;

}


.card-section {
    background-color: rgb(241, 240, 240);
    padding: 2% 3%;
    border-radius:10px;
    border-left:solid 10px orange;
}

#notification-section{
    min-width: 400px;
}

.profile-bg{
    background-color: rgb(33, 33, 116);
}

.profileEdit-bg{
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.center-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 75%;
    min-height: 80%;
    border-radius: 20px;
}

.profile-section-sideBar{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    background-color: rgb(33, 33, 116);
    height: 650px;
    border-radius: 0px 20px 20px 0;
    box-shadow: black 0px 0px 5px ;

}

.profile-details-section{
    position: relative;
    left: 35%;
}

.profile-section-btn{
    background-color: rgba(86, 54, 231, 0.2);
    padding: 2% 7%;
    border-radius: 100px;
    border: white 1px solid;
    color: white;
    text-decoration: none;
    font-size: .9rem;
}

.profile-section-btn:hover{
    background-color: rgba(87, 54, 231, 0.336);
    color: white;
}


.circle-icon{
    padding: 2% 3%;
    border-radius: 100%;
    background-color: rgba(86, 54, 231, 0.2);
    text-align: center;
}

.chat-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(86, 54, 231, 0.2);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.chat-box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 95%;
    height: 95%;
    border-radius: 20px;
    box-shadow: black 0 0 5px;
}

.chat-box-nav{
    position: relative;
    top: 2%;
    background-color: rgb(33, 33, 116);
    color: white;
    padding: 1% 2%;
    border-radius: 20px;
}

.msg{
    background-color: whitesmoke;
    border-radius: 20px;
}

.admin-link {
    color: black;
    text-decoration: none;
}

.stats-link {
    background-color: rgba(223, 223, 223, 0.384);
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .1s ease-in-out;
}

.stats-link:hover{
    background-color: rgba(223, 223, 223, 0.479);
    color: whitesmoke;
}

.sideNav-btn:active {
    background: rgb(16, 16, 59);
    color: white;
}

.active{
    background-color: rgb(33, 33, 116);
    color: white;
}

.call-btn{
    color: white;
    border-radius: 100%;
    padding: 5px 7px;
    text-align: center;
}

.end-btn{
    background: red;
}

.video-btn{
    background: green;
}

.code-btn{
    display: flex;
    align-items: center;
    color: lightgreen;
    cursor: pointer;
    border: solid grey .1px;
    text-align: center;
    padding:  7px ;
}

.code-page{
    height: 90vh;
}

.code-area{
    /* background-color: palegoldenrod; */
    height: 80vh;
    width: 100%;
}

.divider{
    color: white;
    border-left: solid white 2px;
}